<app-header-back title="Forgot Password"></app-header-back>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-text>
                    <p> Enter your email adress and we’ll send you a link so you can reset your password </p>
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12" class="ion-margin-top" >
                    <ion-button expand="block"> Send a Email </ion-button>
                </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>