<app-header-notification title="Current Bookings"></app-header-notification>

<ion-content>
  <ion-grid>
    <!-- One patient card -->
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label> Johana Car <br> <span class="text-primary"> Depression </span> </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item color="light" class="date-time">
          <ion-label>
            <ion-icon color="primary" class="icon-medium" name="calendar"></ion-icon> <span> June 06 </span>
          </ion-label>
          <ion-label>
            <ion-icon color="primary" class="icon-medium" name="time"></ion-icon> <span> 09:00 am </span>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block">Accept</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" (click)="declinePatient()" color="danger" fill="outline">Decline</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label> Johana Car <br> <span class="text-primary"> Depression </span> </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item color="light" class="date-time">
          <ion-label>
            <ion-icon color="primary" class="icon-medium" name="calendar"></ion-icon> <span> June 06 </span>
          </ion-label>
          <ion-label>
            <ion-icon color="primary" class="icon-medium" name="time"></ion-icon> <span> 09:00 am </span>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block">Accept</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" color="danger" fill="outline">Decline</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label> Johana Car <br> <span class="text-primary"> Depression </span> </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item color="light" class="date-time">
          <ion-label>
            <ion-icon color="primary" class="icon-medium" name="calendar"></ion-icon> <span> June 06 </span>
          </ion-label>
          <ion-label>
            <ion-icon color="primary" class="icon-medium" name="time"></ion-icon> <span> 09:00 am </span>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block">Accept</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" color="danger" fill="outline">Decline</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>