<app-header-back url="/app/tabs/tab4" title="FAQ"></app-header-back>

<ion-content>

  <ion-item lines="none">
    <h4> Frequently asked questions </h4>
  </ion-item>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What is Mind Help?
        </mat-panel-title>

      </mat-expansion-panel-header>

      <div class="text">
        <p>
          Mind Help is the largest online counseling platform worldwide. We change the way people get help with facing
          life's challenges by providing convenient, discreet and affordable access to a licensed therapist. Mind Help
          makes professional counseling available anytime, anywhere, through a computer, tablet or smartphone.
        </p>
      </div>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Who will be helping me?
        </mat-panel-title>

      </mat-expansion-panel-header>

      <div class="text">
        <p>
          Mind Help is the largest online counseling platform worldwide. We change the way people get help with facing
          life's challenges by providing convenient, discreet and affordable access to a licensed therapist. Mind Help
          makes professional counseling available anytime, anywhere, through a computer, tablet or smartphone.
        </p>
      </div>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Who are the counselors?
        </mat-panel-title>

      </mat-expansion-panel-header>

      <div class="text">
        <p>
          Mind Help is the largest online counseling platform worldwide. We change the way people get help with facing
          life's challenges by providing convenient, discreet and affordable access to a licensed therapist. Mind Help
          makes professional counseling available anytime, anywhere, through a computer, tablet or smartphone.
        </p>
      </div>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How are the counselors verified?
        </mat-panel-title>

      </mat-expansion-panel-header>

      <div class="text">
        <p>
          Mind Help is the largest online counseling platform worldwide. We change the way people get help with facing
          life's challenges by providing convenient, discreet and affordable access to a licensed therapist. Mind Help
          makes professional counseling available anytime, anywhere, through a computer, tablet or smartphone.
        </p>
      </div>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Is Mind Help right for me?
        </mat-panel-title>

      </mat-expansion-panel-header>

      <div class="text">
        <p>
          Mind Help is the largest online counseling platform worldwide. We change the way people get help with facing
          life's challenges by providing convenient, discreet and affordable access to a licensed therapist. Mind Help
          makes professional counseling available anytime, anywhere, through a computer, tablet or smartphone.
        </p>
      </div>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How much does it cost?
        </mat-panel-title>

      </mat-expansion-panel-header>

      <div class="text">
        <p>
          Mind Help is the largest online counseling platform worldwide. We change the way people get help with facing
          life's challenges by providing convenient, discreet and affordable access to a licensed therapist. Mind Help
          makes professional counseling available anytime, anywhere, through a computer, tablet or smartphone.
        </p>
      </div>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How will I communicate with my counselor?
        </mat-panel-title>

      </mat-expansion-panel-header>

      <div class="text">
        <p>
          Mind Help is the largest online counseling platform worldwide. We change the way people get help with facing
          life's challenges by providing convenient, discreet and affordable access to a licensed therapist. Mind Help
          makes professional counseling available anytime, anywhere, through a computer, tablet or smartphone.
        </p>
      </div>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How does messaging work?
        </mat-panel-title>

      </mat-expansion-panel-header>

      <div class="text">
        <p>
          Mind Help is the largest online counseling platform worldwide. We change the way people get help with facing
          life's challenges by providing convenient, discreet and affordable access to a licensed therapist. Mind Help
          makes professional counseling available anytime, anywhere, through a computer, tablet or smartphone.
        </p>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</ion-content>